@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap');
.kodchasan-regular {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-bar {
  background-color: rgb(215,31,37);
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center; /* Center items vertically */
}

.nav-item {
  margin-right: 2vw;
  
}

.nav-item:last-child {
  margin-right: 0; /* Remove margin for the last item */
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255); 
  font-size: 1.2rem;
  display: flex;
  align-items: center; /* Center icon and text vertically */
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-icon {
  margin-right: 8px; /* Spacing between the icon and text */
  font-size: 1vw;
  color: rgb(255, 255, 255); /* Icon color */
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover .nav-icon {
 
  transform: scale(1.2);
}

.nav-link:hover {
 
  transform: scale(1.2);
}