
.nav-bar {
  background-color: rgb(215, 31, 37);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-family: "Georgia,Times";
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  font-family: "Georgia,Times";
}

.nav-item {
  margin-right: 2vw;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Default font and icon size for large screens */
.nav-link {
  font-size: 1.2rem;
}

.nav-icon {
  margin-right: 8px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover .nav-icon {
  transform: scale(1.2);
}

.nav-link:hover {
  transform: scale(1.1);
}

/* Responsive Design */

/* Medium screens (tablets) */
@media (max-width: 992px) {
  .nav-link {
    font-size: 1rem;
  }
  .nav-icon {
    font-size: 1.2rem;
  }
}

/* Small screens (phones in landscape) */
@media (max-width: 768px) {
  .nav-bar {
    padding: 8px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .nav-icon {
    font-size: 1rem;
  }

  /* Hide text on small screens */
  .nav-link span {
    display: none;
  }
}

/* Extra small screens (phones in portrait) */
@media (max-width: 480px) {
  .nav-bar {
    padding: 5px;
  }

  .nav-icon {
    font-size: 0.9rem;
  }
}
